@using WebApplication1.ViewModels
@model EmployeeListViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <b>Hello @Model.UserName</b>
    <div> 
        <table>
            <tr>
                <th>Employee Name</th>
                <th>Employee Salary</th>
            </tr>
            @foreach (EmployeeViewModel list in Model.Employees)
            {
                <tr>
                    <td>@list.name</td>
                    <td style="background-color:@list.salary_color"> @list.salary</td>
                </tr> 
            }
        </table>
    </div>
</body>
</html>
